dist
testdata
cabal-dev
SourceGraph
web/modeler-icons
web/qua-view.js
*~
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.HTF/
.cabal-sandbox/
.stack-work/
cabal.sandbox.config
cabal.config

# eclipse stuff
.dist-buildwrapper/
.project
.settings/

# leksah stuff
*.lkshf
*.lkshw
*.lkshs
